body {
    font-family: sans-serif;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    height: 100vh;
}
.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    right: 40px;
    font-family: sans-serif;
}

#addNewProducts {
    background: transparent;
    border: 2px solid white;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
}

.btn-info {
    background: #34495e;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.row {
    color: white;
}

h1 {
    color: white;
}

.btn-danger {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}